body {
    background-color: #ccc;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#inputBox {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 4;
}

#add {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    flex-grow: 2;
    font-size: 20px;
}
#task {
    flex-grow: 10;
    border: none;
    padding: 10px;
    font-size: 18px;
}
li{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(233, 228, 221);
    margin: 8px 0;
    padding-left: 10px;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.remove {
    text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgb(233, 80, 53);
    color: white;
    padding: 8px 15px;
    height: 100%;
    border: none;
}

#wrapper {
    width: 70%;
    background-color: rgb(235, 235, 126);
    color: black;
    margin: 120px auto;
    padding: 10px 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

ol { 
    padding: 0; 
    max-height: 500px;
    overflow: auto;
}

h1{
    text-align: center;
    font-family: cursive;
}
